* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --bg-color: #2f2e41;
  --title-color: #ffffff;
  --title-text-color-two: #00bfa6;
  --text-color: #c2c2c2;

  /* fonts */
  --font: 'JetBrains Mono', monospace;
  --font-body: 'Open Sans', sans-serif;
}

body {
  background-color: var(--bg-color);

  font-family: var(--font-body);
  line-height: 28px;
  color: var(--text-color);
  text-align: center;

  max-width: 1092px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 71px;
}

nav ul {
  font-size: 14px;

  display: flex;
  gap: 64px;

  list-style: none;
}

a {
  color: var(--title-color);
  text-decoration: none;
}

a:hover {
  color: var(--title-text-color-two);
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 77px;

  margin: 100px 0 157px;
}

h1,
ul {
  font-family: var(--font);
}

h1 {
  font-size: 36px;
  line-height: 40px;
  color: var(--title-color);

  margin-bottom: 59px;
}

span {
  color: var(--title-text-color-two);
}

footer {
  font-family: var(--font);
  font-size: 14px;
  color: var(--title-color);
}

.line {
  margin: 0 auto 27px;
  width: 568px;

  border: 1px solid var(--title-text-color-two);
}

#padlock {
  position: fixed;
  left: 0;
  bottom: 0;

  padding: 20px;
}
